<div class="nav-container" *ngIf="!!listTabs && !!listTabs.length">
  <mat-tab-group [selectedIndex]="selected" (selectedTabChange)="selectTab($event.index)">
    <ng-template ngFor let-tab [ngForOf]="listTabs" let-index="index">
      <mat-tab (click)="selectTab(tab)">
        <ng-template mat-tab-label class="active">
            <span title="{{tab|json}}">{{ getTagName(tab.tag) | translate }}</span>
            <mat-icon
            svgIcon="cancel"
            style="margin-left:10px;font-size: small"
            (click)="delTab(index)"
            ></mat-icon>
        </ng-template>
      </mat-tab>
    </ng-template>
  </mat-tab-group>
</div>
<!-- <span style="margin-left: 0.5em;">cancel</span> -->
